#mainFooterDiv{
    display: table;
    background-color: black;
    height: 24px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
}
#mainFooterText{
    display: table-cell;
    vertical-align: middle;
}